body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.term-container {
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.term-container:hover {
    background-color: #B0E0E6;
}

.term-word {
    font-weight: bold;
    font-size: 1.2em;
}

.term-definition {
    color: #555;
}

button {
    margin: 5px;
    background-color: #B0E0E6;
    color: #000000;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #808080;
    color: white;
}
input[type="text"] {
    border: 2px solid lightblue;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: blue;
}