body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.term-container {
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.term-container:hover {
    background-color: #B0E0E6; /* Цвет при наведении */
}

.term-word {
    font-weight: bold;
    font-size: 1.2em;
}

.term-definition {
    color: #555;
}

button {
    margin: 5px;
    background-color: #B0E0E6; /* Изначальный цвет кнопки */
    color: #000000; /* Цвет текста */
    border: none; /* Убираем стандартную рамку */
    border-radius: 25px; /* Округлые края */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}
button:hover {
    background-color: #808080; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}
input[type="text"] {
    border: 2px solid lightblue; /* Голубая рамка */
    border-radius: 25px; /* Округлые края */
    padding: 10px; /* Отступы внутри поля ввода */
    font-size: 16px; /* Размер шрифта */
    outline: none; /* Убираем стандартный контур при фокусе */
    transition: border-color 0.3s; /* Плавный переход для изменения цвета рамки */
}

input[type="text"]:focus {
    border-color: blue; /* Цвет рамки при фокусе */
}