<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossary</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Глоссарий</h1>
    <input type="text" id="searchWord" placeholder="Введите слово для поиска">
    <button onclick="searchTerm()">Найти определение</button>
    <button onclick="showTerms()">Показать все термины</button>
    <button onclick="addTerm()">Добавить термин</button>
    <button onclick="updateTerm()">Изменить термин</button>
    <button onclick="deleteTerm()">Удалить термин</button>

    <div id="termsContainer"></div>

    <script src="/static/script.js"></script>
</body>
</html>